html {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); 
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.resultado {
  position: relative;
  width: 100%;
}

.resumen-enter, .resultado-enter {
  opacity: 0;
  transform: scale(0.9);
}

.resumen-enter-active, .resultado-enter-active {
  display: block;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.resumen-exit, .resultado-exit {
  opacity: 1;
}

.resumen-exit-active, .resultado-exit-active {
  opacity: 0;
  display: none;
  transform: scale(0.9);  
  transition: opacity 300ms, transform 300ms;
}

.spinner-enter {
  opacity: 0;
}

.spinner-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.spinner-exit {
  opacity: 1;
}

.spinner-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}